<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- TODO: 需 Apple Developer Program 审核通过；在 developer.apple.com 为 com.rosen.pengpeng 开启 Sign in with Apple，Xcode 选用付费 Team 签名 -->
	<!-- <key>com.apple.developer.applesignin</key> -->
	<!-- <array> -->
	<!-- <string>Default</string> -->
	<!-- </array> -->
	<key>com.apple.developer.healthkit</key>
	<true/>
</dict>
</plist>
